*.ply
*.db
*.mp4
*.log
*.pth
*.pt
*.glb
*.npz
*.splat
*.0
data/
**/*output*/
*.bin
*.vis
**/__pycache__/
**/submodules/
**/checkpoints/
**/logs/
**/results/
**/cache/
**/tmp/
**/temp/
**/debug/
**/debug_*/
**/debug_*/**
**/debug_*/**/*
*.ini
**/*discard*/
**/*discard*
gopro360/colmap/output_v1
gopromax_neighbour/output/
gopromax_neighbour/output*/
huggingface/depth-anything-3/workspace/